#pragma once

const char* HOSTNAME = "kueche";
// Sensor
const int DHTPIN = 4;
const int DHTTYPE = DHT22; // DHT22 or DHT11
const int DHTINTERVAL = 60 * 1000;
// MQTT
const char* MQTTSERVER = "ip_or_hostname_of_mqtt_broker";
const uint16_t MQTTPORT = 443;
const char* MQTTUSER = "mqtt_username";
const char* MQTTPASS = "***";